<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TorrentLeech2RSS/WEB-INF/src/net/firefang/tl2rss/TorrentLeech.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.firefang.tl2rss.TorrentLeech"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TorrentLeech2RSS"/>
</launchConfiguration>
