<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>tl2rss</servlet-name>
        <servlet-class>
            net.firefang.tl2rss.TorrentLeech2RSS
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>tl2rss</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
